@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .flexbox {
        @apply flex flex-row items-center;
    }

    .herobutton {
        @apply px-6 py-2 border border-[#242424] rounded-full uppercase text-xs tracking-widest 
        text-gray-500 transition-all hover:border-[#2A6230] hover:text-[#2A6230] duration-200 ease-in-out;
    }

    .headerbg {
        background: rgb(28, 28, 28);
        background: linear-gradient(180deg, rgba(28, 28, 28, 1) 0%, rgba(36, 36, 36, 0) 100%);
    }

    .base {
        @apply bg-[rgb(36,36,36)] space-y-32 
        text-white h-screen snap-y overflow-y-scroll overflow-x-hidden z-0 md:scrollbar 
        md:scrollbar-track-gray-400/20 md:scrollbar-thumb-[#2A6230]/80;
    }

    .contactinput {
        @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424] text-gray-300 
        placeholder-gray-500 transition-all focus:border-[#2A6230]/40 hover:border-[#2A6230];
    }
}

body {
    overflow-x: hidden;
}
.container {
    font-family: sans-serif;
}

.card-container {
    width: 3rem;
    height: 3rem;
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
}

.card {
    overflow: hidden;
    padding: 2rem;
    border-radius: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    cursor: pointer;
}

.expanded {
    width: 20rem;
    height: 20rem;
    position: relative;
    left: -100%;
    top: 150%;
}

.compact {
    width: 5rem;
    height: 5rem;
    padding: 0.5rem;
    border-radius: 1.5rem;
}
